<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/04ce7e6ce3.js" crossorigin="anonymous"></script>
        <link href ="/public/img/favicon.ico" rel="icon">
        <link rel="stylesheet" href="/public/css/style.css">
        <title>Desserts</title>
    </head>
    <body>
        <br>
        <h1>Wheel of Food</h1>
        <ul>
            <li><a href="./restaurants">Restaurants</a></li>
            <li><a href="./desserts">Desserts</a></li>
            <li><a href="./fastfood">Fast Food</a></li>
            <li><a href="./index">Home</a></li>
          </ul>
          <br>

          <div class="row">
            <div class="column">
                <h2>Desserts</h2>
                <p class="dotted"><br>Have a sweet tooth? In the mood for something sugary and warm? You've come to the right place! Cookies, ice cream, donuts, we've got it all! Spin the wheel and see where you land!<br><br></p>
            </div>
        </div>

        <!-- the wheel -->
        <div id="main" class="main">
            <div id="wheel" class="wheel">
                   <div>
                        <span class="span1"><p>Krispy Kreme</p></span>
                        <span class="span2"><p>Coldstone</p></span>
                        <span class="span3"><p>Crumbl</p></span>
                        <span class="span4"><p>Menchies</p></span>
                  
                        <span class="span5"><p>Sweet Dreams</p></span>
                        <span class="span6"><p>Starbucks</p></span>
                        <span class="span7"><p>Baskin Robbins</p></span>
                        <span class="span8"><p>Dairy Queen</p></span>
                  </div>
             </div>
    
             <button class="spin" onclick="letsSpin()">SPIN</button>
       </div>

       <br><br>

       <!-- Footer -->
    <hr>
    <section class="footer">
    <footer>
        &copy; 2021 Humayra Ahmed
        <br>

        <a href="https://www.linkedin.com/" aria-label="LinkedIn"> 
            <i class="fab fa-linkedin"></i></a>
        <a href="https://www.gmail.com/" aria-label="Email"> 
            <i class="fas fa-envelope-square"></i>
        <a href="https://www.facebook.com/" aria-label="Facebook"> 
            <i class="fab fa-facebook-square"></i></a>
        <a href="https://www.twitter.com/" aria-label="Twitter"> 
            <i class="fab fa-twitter-square"></i>

        <br>
    </footer>
</section>

    </body>
    <script src="/public/js/script.js"></script>
</html>