<!DOCTYPE html>
<html>
    <head>
        <link href ="img/favicon.ico" rel="icon">
        <script src="https://kit.fontawesome.com/04ce7e6ce3.js" crossorigin="anonymous"></script>
        <link href ="/public/img/favicon.ico" rel="icon">
        <link rel="stylesheet" href="/public/css/style.css">
        <title>Home</title>
    </head>
    <body>
        <br>
        <h1>Wheel of Food</h1>
        <ul>
            <li><a href="./restaurants">Restaurants</a></li>
            <li><a href="./desserts">Desserts</a></li>
            <li><a href="./fastfood">Fast Food</a></li>
            <li><a href="./index">Home</a></li>
          </ul>
          <br>

          <!-- The Story -->
          <div class="row">
            <div class="column">
                <h2>Wheel of Food</h2>
                <p class="dotted"><br>Developing a web application that will generate where you will be going to eat! Ever struggled finding a place to eat? Spin the wheel and let us pick where you'll be going out to eat!<br><br>Feeling crazy and have no idea what you're in the mood for? Spin the wheel to see whether you're getting fast food or desserts!<br><br></p>
            </div>
        </div>


          <!-- The Wheel -->
        <div id="main" class="main">
            <div id="wheel" class="wheel">
                   <div>
                        <span class="span1"><p>Restaurant</p></span>
                        <span class="span2"><p>Dessert</p></span>
                        <span class="span3"><p>Fast Food</p></span>
                        <span class="span4"><p>Spin Again</p></span>
                  
                        <span class="span5"><p>Spin Again</p></span>
                        <span class="span6"><p>Restaurant</p></span>
                        <span class="span7"><p>Dessert</p></span>
                        <span class="span8"><p>Fast Food</p></span>
                  </div>
             </div>
    
             <button class="spin" onclick="letsSpin()">SPIN</button>
       </div>
       <br><br>
       <hr>
       <br><br>

       <section class="system">
        <h2 class="background">The Story Behind The Wheel</h2>
        <p class="solid"><br>The wheel is designed to spin and land on where you will be going out to eat.<br>There are many options to choose from. If you're in the mood for sweets, there's a dessert section.<br>If you want dinner, there's a fast food and restaurant section.<br><br>The wheel, as of this moment, cannot add new restaurants but in the near future,<br>there will be options to add in your favorite restaurants and you’ll be able to spin the wheel.<br><br></p>
        </section>

        <!-- Footer -->
      <br><br>

      <hr>
      <section class="footer">
      <footer>
          &copy; 2021 Humayra Ahmed
          <br>

          <a href="https://www.linkedin.com/" aria-label="LinkedIn"> 
              <i class="fab fa-linkedin"></i></a>
          <a href="https://www.gmail.com/" aria-label="Email"> 
              <i class="fas fa-envelope-square"></i>
          <a href="https://www.facebook.com/" aria-label="Facebook"> 
              <i class="fab fa-facebook-square"></i></a>
          <a href="https://www.twitter.com/" aria-label="Twitter"> 
              <i class="fab fa-twitter-square"></i>

          <br><br>
      </footer>
  </section>

    </body>
    <script src="/public/js/script.js"></script>
</html>